<div class="well hero-unit">
	<div class="row">
		<div class="span6 offset4">
			<h1><i class="icon icon-envelope"></i> LoveLetter</h1>
			<hr/>
			<a href="/rooms" class="btn btn-primary">Play a game</a>
		</div>
	</div>
</div>
