#hand .card.selected {
	background: #ddd;
}

.card.well {
	float: left;
	width: 39%;
	margin-left: 2%;
}

#table .well.card {
	width: 81%;
	margin-right: 36px;
}

#player-selection-modal .card.well {
	float: none;
}

.player.selected {
	background: #ddd;
}

#game-log {
	height: 150px;
	overflow-y: scroll;
}

.hidden {
	display:none;
}