<div class="control-group">
  <label for="name" class="control-label">What is your name? </label>
  <div class="controls">
    <%- contentTag('input', player.name, {type:'text', class:'span4', name:'name'}) %>
  </div>
</div>
